In [1]:
print('hello world')

hello world

# 01. intro

## shortcut
- ctrl + enter: 현재 셀 실행
- shift + enter: 현재 셀 실행 & 아래로 이동
- alt + enter: 현재 셀 실행 & 아래에 새로운 셀 추가
- 더블클릭 하면 수정가능

## 주의사항
1. Apple / apple 대문자 소문자는 다르다고 인식
2. git add . / git add. 띄어쓰기도 다르다고 인식
3. message / massage 철자 차이 확인하기

In [2]:
# 여기는 주석 입니다. 샵은 코드로 인식하지 않음

## 1. 변수
변수이름 = 값
- 변수 이름은 어떤 이름이든 사용가능
- 다만 영어, 숫자, _ 를 이용하여 선언
- 키워드는 사용 불가

In [8]:
a = 30

In [9]:
a

30

In [10]:
import  keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [11]:
seoul_dust_rate = 10

### 1.1 number

In [12]:
a = 100000

In [13]:
a

100000

In [14]:
type(a)

int

In [15]:
b = 1.1

In [16]:
b

1.1

In [17]:
type(b)

float

In [18]:
c = 1- 4j

In [19]:
c

(1-4j)

In [20]:
type(c)

complex

### 1.2 boolean
True, False로 이루어진 타입

In [21]:
a = True

In [22]:
a

True

In [23]:
type(a)

bool

In [24]:
b = False

In [25]:
b

False

In [26]:
type(b)

bool

### 1.3 None

In [27]:
a = None

In [28]:
a

In [29]:
type(a)

NoneType

### 1.4 String

- 문자열은 `'`, `"` 를 이용하여 표현

In [30]:
a = 'hellow'

In [31]:
type(a)

str

In [32]:
b = "world"

In [33]:
type(b)

str

In [43]:
age = input()
print(age)
print(type(age))
type(age)

# input() 결과는 문자열로 인식. 1과 '1'은 다름

 123

123
<class 'str'>

str

In [39]:
# print('안녕하세요 '오창희' 입니다') 이건 오류
# print('안녕하세요 "오창희" 입니다') 이건 정상
print('안녕하세요 "오창희" 입니다')

안녕하세요 "오창희" 입니다

In [42]:
# \ 문자열 활용하기
print('안녕하세요. \'오창희\' 입니다.')

안녕하세요. '오창희' 입니다.

In [45]:
a = '''
안녕하세요 '오창희'입니다.
'''
print(a)

# 독스트링. 주석이랑 비슷하게 표기하는 방법. 여러 줄을 한번에 정리.

안녕하세요 '오창희'입니다.

In [50]:
print('안녕하세요. \n오창희 입니다.')
print('안녕하세요. \n오창희 입니다. \t들여쓰기 이스케이프 문자열입니다.')

# \n 와 \t 는 문자열 데이터를 가져올떄 구분표시로 되어있을 수 있으니 확인하기.

안녕하세요.
오창희 입니다.
안녕하세요.
오창희 입니다. 	들여쓰기 이스케이프 문자열입니다.

### string interpolation
1. %-formatting
2. str.format()
3. f-string

In [52]:
age = 10
print('홍길동은 %s살 입니다.' % age)

# 옛날 문법임

홍길동은 10살 입니다.

In [57]:
age = 10
print('홍길동은 {}살 입니다.'.format(age))

# 이것도 안쓸거임

홍길동은 10살 입니다.

In [58]:
age = 10
print(f'홍길동은 {age}살 입니다.')

# 이거 쓰자.

홍길동은 10살 입니다.

## 2. 연산자
### 2.1 산술연산자

In [74]:
a = 7
b = 3

In [75]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)

10
4
21
2.3333333333333335
343

In [76]:
print(a // b)
print(a % b)
print(divmod(a, b))

# // 는 몫을, %는 나머지를, divmod() 는 몫과 나머지를 보여줌

2
1
(2, 1)

### 2.2 비교연산자

In [77]:
a = 5
b = 10

In [80]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

print(a == b)
print(a != b)

print('hi' == 'hi')
print('Hi' == 'hi')

# 비교연산자는 True, False 로 나옴
# 비교연산자는 문자에도 사용 가능

False
True
False
True
False
True
True
False

### 2.3 논리연산자

- and: 양쪽 모두 True 일때, True 를 반환
- or: 양쪽 모두 False 일때, False 를 반환
- not: 값을 반대로 전환

In [81]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [82]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [83]:
result = True
print(not result)

False

In [88]:
# 단축평가(and)
print(3 and 5)
print(3 and 0)
print(0 and 3)
print(0 and 0)

# python은 and를 만나면 앞을 기준으로 연산을 시작함
# and 앞에 True 가 있다면 and 뒤 값이 결과값으로 나옴
# and 앞에 False 가 있다면 그냥 값 0 이나옴

5
0
0
0

In [90]:
# 단축평가(or)
print(3 or 5)
print(3 or 0)
print(0 or 3)
print(0 or 0)

# or 은

3
3
3
0

### 복합 연산자

In [92]:
a = 1
b = 2

In [93]:
a = a + b
a = a - b
a = a * b
a = a / b

In [ ]:
a += b
a -= b
a *= b
a /= b

### 2.5 기타 연산자

In [94]:
a = 'hi'
b = 'hellow'

In [96]:
# concatenation
print(a + b)

hihellow

In [97]:
a = [1, 2, 3]
b = [4, 5, 6]

In [99]:
print(a + b)

# list 형식도 연결해줌

[1, 2, 3, 4, 5, 6]

In [101]:
# containment
print(1 in a)
print(10 in a)

True
False

In [105]:
# identity

a = 5
b = 5

print(a == b)
print(a is b)

True
True

In [106]:
a = 123123
b = 123123

print(a == b)
print(a is b)

# is는 데이터가 아닌 메모리 값을 비교함.
# -5부터 256 까지는 메모리 값이 같다고 나오지만, 그 이상 이하는 메모리 값이 다름

True
False

### 우선순위

0. ()를 통해 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자, in, is
5. not
6. and
7. or

In [107]:
print(-3**4)
# 81 이 아닌 -81인 이유는 - 보다 ** 계산이 우선순위이기 때문.

-81

## 3. 형변환
### 3.1 암시적 형변환

In [108]:
a = True
b = False
c = 1

In [111]:
print(a + b)
print(b - c)
print(a + c)
# python이 알아서 숫자 값으로 변환

1
-1
2

In [112]:
i_n = 3
f_n = 3.3
c_n = 3 + 3j

In [117]:
print(i_n + f_n)
print(type(i_n + f_n))

# 형태가 다른 숫자형도 알아서 계산해줌(정수, 실수, 허수)

6.3
<class 'float'>

### 3.2 명시적 형변환

- int() : string, float => int
- float() : string, int => float
- str() : int, float => string
- bool() : int, string => bool

In [116]:
a = 1
b = '번'

In [120]:
print(a + b)
# a + 까지는 연산자로 인식 하지만 다음에 문자가 들어와서 오류

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [121]:
print(str(a) + b)

1번

In [122]:
a = '3'
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [124]:
a = 'a'
print(int(a)) 이건 오류임

# 이건 잘못된 변환

SyntaxError: invalid syntax (626319595.py, line 2)

In [126]:
a = '3.3'
print(float(a))

3.3

In [129]:
a = 1
b = 0

print(bool(a))
print(bool(b))

True
False

In [130]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

## 4. 시퀀스 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조. (순서대로 나열되었다는 것은 정렬된것과 다르다)

1. List
2. Tuple
3. Range
4. String

### 4.1 List(리스트, 배열)

- 선언: 변수이름 = [value1, value2, value3, ...]
- 접근: 변수이름[index]

In [141]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [137]:
location = ['서울', '대전', '부산']
print(location)
print(location[1]) # 대전
# print(location[3]) 에러 발생

location[1] = '광주'
print(location)

['서울', '대전', '부산']
대전
['서울', '광주', '부산']

### 4.2 Tuple (튜플)
- 선언 : 변수이름 = (value1, value2, value3)
- 접근: 변수이름[index]
- 리스트와 유사하지만 수정불가능(immutable)이다.

In [139]:
numbers = (123,456,789)
print(numbers)
print(numbers[1])

(123, 456, 789)
456

In [142]:
x, y = (1, 2)
print(x, y)

1 2

### 4.3 Range

- range(n) : 0 부터 n-1 까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 n-1까지 s만큼 증가하는 범위

In [148]:
lotto = range(45)
print(lotto)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [147]:
numbers = range(5, 10)
print(numbers)
print(list(numbers))

range(5, 10)
[5, 6, 7, 8, 9]

In [149]:
even = range(2, 20, 2)
print(even)
print(list(even))

range(2, 20, 2)
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [150]:
even = range(0, -10, -2)
print(even)
print(list(even))

range(0, -10, -2)
[0, -2, -4, -6, -8]

### 4.4 string

기본데이터 구조 참고

### 4.5 시퀀스에서 활용가능한 연산/함수

In [157]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(5)
my_string = '12345'

print(my_list)
print(my_tuple)
print(list(my_range))
print(my_string)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
range(0, 5)
12345

In [153]:
# indexing 어떤 특정한 데이터에 접근하는 것
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string)

1
1
0
12345

In [158]:
# slicing
print(my_list[1:3]) # 1번쨰 자리 이상, 3번째 자리 미만으로 정의
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])
print(my_string[0:4:2])

[2, 3]
(2, 3)
range(1, 3)
23
13

In [164]:
# in
print(1 in my_list)
print(1 in my_tuple)
print('1' in my_string)

# not in
print(1 not in my_list)

True
True
True
False

In [172]:
# concatenation
print(my_list + [6, 7, 8, 9, 10])
print(my_tuple + (6, 7, 8, 9, 10))
print(my_string + '678910')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
12345678910

In [173]:
# *
print('#' * 10)
print(my_list * 2)

##########
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [174]:
print(len(my_list))

5

In [175]:
print(max(my_list))
print(min(my_list))

5
1

## 5. 시퀀스형이 아닌 자료구조

### 5.1 set
수학에서 사용하는 집합과 동일한 개념(중복값이 없음)
- 선언: 변수이름 = {value1, value2, value3, ...}

In [1]:
my_a = {1, 3, 5, 7, 9}
my_b = {1, 2, 3, 4, 6, 8, 10}

In [2]:
print(my_a - my_b)
print(my_a | my_b)
print(my_a & my_b)

{9, 5, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 3}

In [4]:
test_set = {1, 2, 3, 4, 1, 3, 4, 3, 3, 4, 3}
print(test_set)

{1, 2, 3, 4}

### 5.2 Dictionary

- 선언 : 변수이름 = {key1: value1, key2: value2, ...}
- 접근 : 변수이름[key]

In [183]:
my_di = {'서울': '02', '경기' : '031'}
print(my_di)
print(my_di['서울'])

{'서울': '02', '경기': '031'}
02

In [185]:
my_info = {
    'name': 'changhee',
    'location': 'seoul',
    'age': 10,
}
print(my_info)
print(my_info['location'])

{'name': 'changhee', 'location': 'seoul', 'age': 10}
seoul

In [187]:
my_info.keys()

dict_keys(['name', 'location', 'age'])

In [188]:
my_info.values()

dict_values(['changhee', 'seoul', 10])

##### 데이터 타입
1. Number
2. Boolean
3. string

##### 자료구조
- 시퀀스 자료형
1. [List] : mutable
2. (Tuple) : immutable
3. range() : immutable
4. 'String' : immutable

- 시퀀스가 아닌 자료형
1. {set} : mutable
2. {Dict: ionary} : mutable