## 제어문
1. if문은 반드시 일정한 참/거짓을 판단 할 수 있는 '조건식'과 함꼐 사용된다. (if <조건식>:)
2. <조건식> 참(True)인 경우 : 이후의 문장을 실행
3. <조건식> 거짓(False)인 경우 `else`: 이후의 문장을 실행

```
if <조건식>:
    if의 조건식이 참인 경우 실행
else:
    if의 조건식이 거짓인 경우 실행
```

In [9]:
my_string = input()

if my_string == '12/25':
    print('크리스마스 입니다')
else:
    print('아닙니다')

 3.2

아닙니다

In [14]:
num = input('숫자를 입력해주세요')

# result = num % 2
# 여기서 끝내면 string formatting 오류뜸.
# 데이터 타입 오류. num을 글자로 인식하고 있음.
# 명시적 형 변환 해주자.

result = int(num) % 2 # int() 를 사용하여 형변환
print(result)

if bool(result):
    print('홀수입니다.')
else:
    print('짝수입니다.')

숫자를 입력해주세요 33

1
홀수입니다.

In [15]:
num = int(input())

if num % 2 == 1:
    print('홀수 입니다.')
else:
    print('짝수 입니다.')

 3

홀수 입니다.

In [17]:
num = int(input())

if num % 2 == 0:
    print('짝수 입니다.')
else:
    print('홀수 입니다.')

# 사실 if 문에서는 bool() 형식을 안써줘도 알아서 바꿔줌.

 33

홀수 입니다.

In [21]:
num = int(input())

if num % 2:
    print('홀수')
else:
    print('짝수')

 23

홀수

### elif

```
if <조건식>:
    if 조건이 찬임 경우
elif <조건식>:
    elif 조건식이 참인경우
else:
    위의 조건식이 하나도 부합하지 않는 경우
```

In [29]:
# 90점 이상은 A
# 80~89 B
# 70~79 C
# 나머지 D

score = int(input())

if score >= 90:
    print('A')
elif score >= 80 and score <= 89:
    print('B')
elif 70 <= score <= 79: # and를 사용해도 되고 부등호를 둘다 써도됨. 근데 부등호 둘다 쓰는건 python만 되는걸로 알고있으셈.
    print('c')
else:
    print('F')

 990

A

In [31]:
# elif 문은 위에서부터 검증을 하고 내려옴. 즉, 검정된 사항은 다음 elif 문에 굳이 써주지 않아도 됨
score = int(input())

if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('c')
else:
    print('F')

 33

F

In [45]:
# if, elif 문 안에 또 구별이 필요한 경우 똑같이 if문을 작성함
score = int(input())

if score >= 90:
    print('A')
    if score >= 95:
        print('참 잘했어요')
elif score >= 80:
    print('B')
    if score >= 85:
        print('노력')
elif score >= 70:
    print('c')
else:
    print('F')

 87

B
노력

### 조건표현식

```
true_value if <조건식> else false value
```
- 이 식은 지양함. 근데 왜 배우냐? 다른사람이 이 식 쓰면 읽을 순 있어야함.

In [49]:
print('True') if 1 > 0 else print('False') # 아래 식이랑 똑같음

if 1 > 0:
    print('True')
else:
    print('False')

True
True

In [57]:
# num = 5
# value = num if num >= 0 else 0
# print(value)
# 이 식을 if문으로 바꿔보기

num = int(input())

if num >= 0:
    print(num)
else:
    print('0')

 3

3

In [67]:
# 강사님 방법
num = int(input())

if num >= 0:
    value = num
else:
    value = 0
print(value)

 3

3

In [69]:
num = 3

if num % 2:
    result = '홀수'
else:
    result = '짝수'

print(result)

홀수

In [71]:
# 위 식 한줄로
num = 3
result = '홀수' if num % 2 else '짝수'
print(result)

홀수

## 반복문

### while문
```
whil <조건식>:
    실행할 코드
```

In [72]:
a = 0

while a <5:
    print(a)
    a += 1 # a = a+1 과 같은 식

0
1
2
3
4

In [74]:
grr = ''
while grr != '안녕':
    grr = input('안녕이라고 말해줘')

# 변수이름은 간결하고 누구나 알 수 있게.

안녕이라고 말해줘 안녕

### for

정해진 범위 내의 반봅

```
for variable in sequence:
    code
```
- sequence 는 반복을 하고 싶은 변수
- sequence의 단일 아이템

In [75]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [76]:
word = input('단어를 입력해주세요.')

for char in word:
    print(char)

단어를 입력해주세요. apple

a
p
p
l
e

In [79]:
for i  in range(5):
    print(i)

0
1
2
3
4

In [80]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [100]:
# 1 ~ 30 까지 숫자들 중에서 홀수만 출력
r = range(31)
for i in r:
    if i % 2: # 2로 나누면 1이 생김, 즉 True -> 저장
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [93]:
# 강사님 식
numbers = range(1, 30)

for number in numbers:
    if number % 2:
        print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [95]:
menus = ['라면', '김밥', '백반']
for menu in enumerate(menus):
    print(menu)

# 결과가 튜플로 나오며 0, 1, 2 인덱스 값이 같이 나옴.
# enumerate는 menus의 그냥 값을 튜플로 감싸 아웃풋으로 만들어줌.

(0, '라면')
(1, '김밥')
(2, '백반')

In [99]:
menus = ['라면', '김밥', '백반']
for index, menu in enumerate(menus):
    print(index)
    print(menu)

0
라면
1
김밥
2
백반

### dictionary 반복문

1. for key in dict:
2. for key in dict.keys():
3. for key in dict.values():
4. for key, value in dict.items():

In [101]:
info = {
    'name' : 'gildong',
    'location' : 'seoul',
    'phone' : '010-1234-5678',
    'age' : 20, 
}

In [106]:
for cat in info:
    print(cat)

name
location
phone
age

In [112]:
for cat in info:
    print(cat)
    print(info[cat])

for key in info.keys():
    print(key)
    print(info[key])

name
gildong
location
seoul
phone
010-1234-5678
age
20
name
gildong
location
seoul
phone
010-1234-5678
age
20

In [111]:
for value in info.values():
    print(value)

gildong
seoul
010-1234-5678
20

In [113]:
for key, value in info.items():
    print(key, value)

name gildong
location seoul
phone 010-1234-5678
age 20

In [3]:
blood_type = {
    'A' : 5,
    'B' : 3,
    'O' : 2,
    'AB' : 2,
}

In [4]:
# 혈액형의 종류는?
print('혈액형의 종류는', end=' ')
for key in blood_type.keys():
    print(key, end=' ')

# print('글', end=' ') end=' '를 하면 프린트 값 다음 엔터가 아닌 띄어쓰기

혈액형의 종류는 A B O AB

In [121]:
# 총 학생수는 몇명입니다.
result = 0
for value in blood_type.values():
    result = result + value

print(f'총 학생수는 {result}명입니다') # print(f'총 학생수는 {}입니다') f {}는 프린트 옵션.

총 학생수는 12명입니다

## break
반복문을 종료 시키는 키워드

In [164]:
for i in range(100):
    if i > 10:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [161]:
for i in range(100):
    if i == 5:    
        print(5, 'good')
    else:
        if i > 10:
            break
        print(i)

0
1
2
3
4
5 good
6
7
8
9
10

In [138]:
rice = ['보리', '보리', '보리', '보리', '쌀', '보리', ]

for r in rice:
    print(r)
    if r =='쌀':
        print('잡았다')
        break

보리
보리
보리
보리
쌀
잡았다

In [143]:
i = 0

while True:
    if rice[i] == '쌀':
        print('잡았다')
        break
    print(rice[i])
    i += 1

보리
보리
보리
보리
잡았다

### continue

continue 이후의 코드를 실행하지 않고 반복을 진행

In [172]:
for i in range(20):
    if i % 2:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [186]:
ages = [10, 20, 38, 82, 11, 13, 39]

for age in ages:
    if age <= 20:
        continue
    print(f'{age}살입니다.')

38살입니다.
82살입니다.
39살입니다.

### else

else 문은 끝까지 반복된 후 실행됩니다.
break를 만나지 않았을때 실행됩니다.

In [176]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print('else입니다.')

0
1
2
3
4
5

In [5]:
if True:
    pass

### pass

In [6]:
if True:
    pass

### match

```
match value:
    case 조건:
        code
    case 조건:
        code
    case _:
        code
```

In [7]:
status = 123

match status:
    case 200:
        print('ok')
    case 404:
        print('bad')
    case _:
        print('i dont know' )

i dont know