## 함수(function)

In [3]:
height = 50
width = 30

area = height * width
peri = (height + width) * 2

print(f'사각형의 넓이는 {area}고, 둘레는 {peri}입니다.')

사각형의 넓이는 1500고, 둘레는 160입니다.

## 함수의 선언과 호출

- 함수의 선언
```python
def func_name(parameter1, parameter2, ...):
    code_1
    code_2
    ....
    code_n
    return value
```

    - def : 선언하는 명령어.
    - 괄호 안에는 많은 변수 가능
    - return 명령어와 함께 결과를 반환

- 함수의 호출(실행)
```python
func_name(parameter1, parameter2, ...)
```
    - 소괄호를 열면 함수가 실행되고, 닫히는 순간 실행이 끝나고 결과를 갖음.

In [31]:
height = 50
width = 30

def rectangle(height, width):
    area = height * width
    peri = (height + width) * 2
    print(area, peri)

# 함수를 실행
rectangle(100, 200)

type(height)

20000 600

int

In [76]:
# dir(__builtin__) # 내장함수 알려줌

In [11]:
max([1, 2, 3, 4])

4

In [22]:
def my_max(num1, num2):
    if num1 > num2:
        print(num1)
    elif num1 < num2:
        print(num2)
    else:
        print('같음')

my_max(5, 1)
my_max(5, 5)
my_max(5, 10)

5
같음
10

### 함수의 return

- 함수가 return을 만나면 해당 값을 변환하고 함수를 종료
- 만약 return이 없는 경우 None을 자동으로 반환
- return은 오직 하나의 객체만 반환한다.

In [49]:
def my_max(num1, num2):
    if num1 > num2:
        print(num1)
    elif num1 < num2:
        print(num2)
    else:
        print('같음')

result = my_max(1,2)
print(result)

# my_max 식에 수를 대입 후 일련의 과정을 진행
# elif 구간에 참이 발생하여 프린트 됨
# return이 없기에 계속 실행되는게 정상이니만
# return None 값을 주며 끝냄.

2
None

In [62]:
# return 으로 만듬
def my_max2(num1, num2):
    if num1 > num2:
        return num1
    elif num1< num2:
        return num2
    else:
        return num1

my_max2(1, 2)

# 이 식은 출력되지 않아야함. 그러나 쥬피터 랩 기능을 통해 돌아가는 거임
# my_max2(1, 2) 를 실행하면 쥬피터 랩이 편의성을 위해 print(my_max2(1, 2))를 해준거임.
# return은 값을 지정하는 것, 프린트랑은 다르다는 것을 인지하자.

2

In [57]:
my_max(1, 2)

2

In [65]:
# 변수 할당 후 부르기
result = my_max2(1, 2)
print(result)

2

In [80]:
# list 형태의 파라미터(인자)
def my_list_max(list1, list2):
    if sum(list1) > sum(list2):
        return list1
    elif sum(list1) < sum(list2):
        return list2
    else:
        return list1

result = my_list_max([1, 2, 3], [2, 3, 4])
print(result)

[2, 3, 4]

In [85]:
def my_def(x):
    return x * 3
    return x * 2

my_def(10)

# return을 만나면 연산이 멈추기에 x * 3에서 끝남

30

In [88]:
# return이 여러번 쓰이는 경우
def my_def(x):
    if x < 0:
        return 0
    else:
        return x

my_def(-2)

0

In [89]:
# 파이썬이 자동으로 튜플로 묶어줌.
def my_def2(x):
    return x, x * 2

my_def2(10)

(10, 20)

## 함수의 인수
### 위치인수
기본적으로 함수는 위치를 기준으로 인수를 판단합니다.

In [90]:
def cylinder(r, h):
    return 3.14 * r**2 * h

In [94]:
# 함수는 앞에서 부터 차례로 들어간다
cylinder(10, 5)
cylinder(5, 10)

785.0

### 기본값
```python
def func(p1=v1):
    code ...
    return value
```
- 인자에 기본값을 줄 수 있음
- 데이터가 빠졌을때 기본값을 사용.

In [107]:
def greeting(name='익명'):
    return f'{name}님 반갑습니다'

greeting('홍갈동')

'홍갈동님 반갑습니다'

In [109]:
greeting()

'익명님 반갑습니다'

In [114]:
print('안녕하세요', '저는 길동이에요')
# 연결할때 자동으로 띄어쓰기가 됨.
# 이 역할은 print() 명령어에 기본값 역할임.
# sep = 기본값은 띄어쓰기.
# end = 기본값은 마지막 엔터처리.
print('안녕하세요', '저는 길동이에요', sep = '?', end='!')

안녕하세요 저는 길동이에요
안녕하세요?저는 길동이에요!

In [127]:
# def greething(name='익명', age):
#    return f'({name}님의 나이는 {age}입니다.)'
# 위 식은 오류남.
# 길동, 10 이 데이터는 사용 가능

def greeting(age, name='익명'):
    return f'({name}님의 나이는 {age}입니다.)'
# 데이터가 빠지면 기본값을 사용하는거임
# 필수로 받을거 먼저 받고 선택인자는 뒤로 보내면 됨.

In [128]:
greeting(10)

'(익명님의 나이는 10입니다.)'

### 키워드 인수
함수를 호출(실행) 할 때 내가 원하는 위치에 직접적으로 특정인자를 전달

In [129]:
def geeting(age, name='익명'):
    return(f'{name}님의 나이는 {age}입니다')

In [133]:
greeting(10)
greeting(10, '길동')
greeting(name='길동', age=10)

'(길동님의 나이는 10입니다.)'

### 가변인자 리스트
```python
def func(*parms):
    code...
```

In [135]:
print('hi', 'hellow', 'my', 'name', 'is')
# 데이터가 몇개가 들어올지 모른다
# *parms 는 데이터를 튜플 형태로 저장

hi hellow my name is

In [138]:
def my_print(*words):
    print(words)
    
my_print('my', 'name', 'is')

# 많은 데이터를 *words 라는 변수에 튜플형태로 저장.

('my', 'name', 'is')

In [167]:
def my_max(*numbers):
    return max(numbers)

In [187]:
def my_max(*numbers):
    max_num = numbers[0]
    
    for number in numbers:
        if max_num < number:
            max_num = number

    return max_num

In [188]:
my_max(1, 2, 3, 4, 5)

5

### 정의되지 않은 키워드 인자 처리하기

```python
def func(**kwargs):
    code ...
```

- 함수를 호출할 때

In [178]:
info = {
    'name': 'hong',
    'age': 10,
}
print(info)

{'name': 'hong', 'age': 10}

In [181]:
info = dict(name='hong', age=10)
print(info)

{'name': 'hong', 'age': 10}

In [182]:
info = dict(name='hong', age=10)
print(info)

{'name': 'hong', 'age': 10}

In [184]:
def my_dict(**kwargs):
    print(kwargs)

In [185]:
my_dict(asdf='123', qwer='456')

{'asdf': '123', 'qwer': '456'}

In [196]:
def my_func(*datas, **kwdatas):
    print(datas)
    print(kwdatas)

In [197]:
my_func(1, 'hello', [1,2,3], {}, hello='hi', world=123, hi={})

(1, 'hello', [1, 2, 3], {})
{'hello': 'hi', 'world': 123, 'hi': {}}

### dictionary를 인자로 넣기(unpacking)

In [202]:
def sign_up(username, pw, pw_conf):
    if pw == pw_conf:
        print(f'{username}님 회원가입을 환영합니다.')
    else:
        print('비밀번호가 일치하지 않습니다.')

In [203]:
sign_up('hong', '1234', '123')
sign_up('hong', '1234', '1234')

비밀번호가 일치하지 않습니다.
hong님 회원가입을 환영합니다.

In [205]:
user_info = {
    'username': 'hong',
    'pw': '1234',
    'pw_conf': '1234',
}
sign_up(**user_info)
sign_up(username='hong', pw='1234', pw_conf='1234')

hong님 회원가입을 환영합니다.
hong님 회원가입을 환영합니다.

### lambda 표현식
```python
lambda parameter: expression
```

In [206]:
def my_sum(num1, num2):
    return num1 + num2

In [207]:
my_sum(1, 2)

3

In [208]:
(lambda num1, num2,: num1 + num2)(1, 2)

3

### 타입힌트

In [217]:
def my_sum(a,b):
    return a + b

my_sum(1, 2)

3

In [220]:
def my_sum(a: int, b: int) -> int:
    return a + b

my_sum(1, 2)

3

## 이름공간(scope)

python에서 사용되는 이름들은 이름공간에 저장되어있습니다.

1. Local: 정의된 함수 내부
2. Enclosed: 상위함수
3. Global: 함수 밖
4. Built-in: python이 기본적으로 가지고 있는 함수/변수

가까울수록 실행이 된다

In [221]:
result = str(1)
print(result)

1

In [233]:
str = 'hi'

In [230]:
result = str(1)
print(result)
# 기존에 내장되어있던 str()과 내가만든 str = 'hi' 가 있다면 가장 먼저 선언한 것이 우선

TypeError: 'str' object is not callable

In [234]:
del str
result = str(1)
print(result)
# del은 지정된 변수 삭제

1

In [235]:
a = 1

def local_scope(a):
    return a

print(a)
print(local_scope(5))

1
5

In [237]:
# 만약 밖에있는 변수 값을 사용하고 싶다면?
a = 10

def global_scope():
    return a

global_scope()
# 함수안에 지정된 변수값이 없으면 함수 밖 변수값 사용.

10

In [239]:
a = 10

def global_scope():
    global a
    a = a + 1
    return a

global_scope()

# a = a + 1 처럼 반복 식이 있다면 global 문 작성해줘야함.

11

## 재귀

재귀함수는 함수 내부에서 자기 자신을 호출하는 함수입니다.

In [240]:
def fact(n):
    if n == 1:
        return 1
    else:
        return fact(n-1) * n

fact(5)

120