In [2]:
print(dir('hello'))
# dir(): 디렉토리. 내장함수.

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

# 문자열 메소드

In [51]:
a = 'hellow my name is hong'
print(a)

# 문자열의 특성: 직접적인 수정이 불가하다.
# a[0] = 'H' -> 수정불가
# 이러한 문자열을 내장함수로 결과를 반환하고 덮어씌우면 됨.

hellow my name is hong

In [243]:
# capitalize
a = 'hellow my name is hong'
print(a.capitalize())
# 문자열의 첫 글자만 대문자로 변환하고 나머지는 소문자로 유지합니다

Hellow my name is hong

In [244]:
a = 'hellow my name is hong'
a.title()
# 모든 문자의 첫번쨰 데이터를 대문자로
# 문자열에서 각 단어의 첫 글자를 대문자로 변환합니다.

# .capitalize()는 문자열 맨 앞만 대문자로.
# .title()는 띄어쓰기 첫 글자를 대문자로.

'Hellow My Name Is Hong'

In [14]:
# 모두 대문자로
a.upper()
# 원 데이터를 바꾸진 않고 보여주기만 함.
# 원 데이터에 적용하려면 a = a.upper 할당해주면 됨.

'HELLOW MY NAME IS HONG'

In [15]:
print(a) # 위에서 upper 사용했지만 원데이터는 바뀌지 않은 모습

hellow my name is hong

In [219]:
my_list = ['my', 'name', 'is']
# 3개의 데이터를 하나의 문자열로 만들고싶음
# 그럴땐 join 메소드 사용

# join: 여러가지 단어를 합침.
print(my_list)
print(''.join(my_list))

['my', 'name', 'is']
mynameis

In [19]:
# 저는 띄어쓰기도 적용하고 싶어요
print(' '.join(my_list)) # '' 사이에 스페이스바 누르기

my name is

In [21]:
my_string = '       hello         \n    '
print(my_string)

       hello

In [29]:
# 공백이 있는 데이터를 처리할떄 사용하는 메소드
# strip
my_string = '       hello         \n    '
print(my_string.strip())

hello

In [28]:
my_string2 = '------------------------hello---------'
print(my_string2.strip('-'))
print(my_string2.lstrip('-')) # 왼쪽 공백 처리
print(my_string2.rstrip('-')) # 오른쪽 공백 처리

hello
hello---------
------------------------hello

In [37]:
# 변경 메소드 replace
a = 'woooooooow'
a.replace('o', '', 3)
# 첫번째 인자(old): 무엇을 바꿀지
# 두번째 인자(new): 어떻게 바꿀지
# 세번째 인자(count): 몇개를 바꿀지. 지정 안하면 모두를 바꿈.

'wooooow'

In [86]:
# 지정 문자의 자리를 찾아주는 메소드 find
a = 'apple'
print(a.find('a'))
print(a.find('l'))
print(a.find('z')) # 없는 데이터는 음수값이 나옴

0
3
-1

In [87]:
# 지정 문자의 자리를 찾아주는 메소드 index
a = 'apple'
print(a.index('a'))
print(a.index('p'))
# print(a.index('z')) -> 없는 데이터를 찾아달라하면 오류뜸

0
1

In [47]:
# split(): 문자열을 리스트로.
a = 'my name is hong'
a.split() # 기본값은 띄어쓰기 기준으로 나누어줌

['my', 'name', 'is', 'hong']

In [50]:
a = 'wooooooo'
a.count('o')
# 문자 갯수

7

# 리스트 메소드

In [73]:
# append
numbers = [1 ,4, 3, 6, 8, 9, 3]
# list의 특성: 동적타이핑 언어
# numbers 의 데이터 길이를 자동으로 조절해줌

numbers.append(10)
print(numbers)
# append: 리스트 뒤에 데이터 추가해줌.

[1, 4, 3, 6, 8, 9, 3, 10]

In [72]:
# extend()
numbers = [1 ,4, 3, 6, 8, 9, 3]
a = [99, 100]

numbers.extend(a)
print(numbers)
# numbers를 기준으로 배열을 합침.
# numbers = numbers + a 랑 똑같음.
# 원데이터를 바꿈.

[1, 4, 3, 6, 8, 9, 3, 99, 100]

In [89]:
# insert()
numbers = [1 ,4, 3, 6, 8, 9, 3]

numbers.insert(0, -10) # 0번 자리에 -10
print(numbers)
# 강제로 원하는 데이터를 넣을 떄 사용
# 문자형태 리스트면 글자를 넣어도 됨.

[-10, 1, 4, 3, 6, 8, 9, 3]

In [97]:
# remove()
numbers = [-10, 1 ,4, 3, 6, 8, 9, 3, -10]

numbers.remove(-10)
print(numbers)

# x를 찾아서 제거, 없으면 에러 발생.
# 앞에서 부터 제거.

[1, 4, 3, 6, 8, 9, 3, -10]

In [109]:
# pop()
numbers = [-10, 1 ,4, 3, 6, 8, 9, 3, -10]

numbers.pop()
print(numbers)
# 맨 뒤 데이터를 뽑음.

[-10, 1, 4, 3, 6, 8, 9, 3]

In [113]:
numbers = [-10, 1 ,4, 3, 6, 8, 9, 3, -10]

reult = numbers.pop()
print(numbers, reult)

result = numbers.pop(0) # 0번쨰 데이터 뻄.
print(numbers, result)
# pop한 결과를 변수로 저장 가능.

[-10, 1, 4, 3, 6, 8, 9, 3] -10
[1, 4, 3, 6, 8, 9, 3] -10

In [115]:
# 오름차순 정렬
numbers = [-10, 1 ,4, 3, 6, 8, 9, 3, -10]
numbers.sort()
print(numbers)

[-10, -10, 1, 3, 3, 4, 6, 8, 9]

In [117]:
# 내림차순 정렬
numbers = [-10, 1 ,4, 3, 6, 8, 9, 3, -10]
numbers.sort(reverse=True) # reverse = True 는 역을 취한다.
print(numbers)

[9, 8, 6, 4, 3, 3, 1, -10, -10]

In [121]:
# 내장함수 sorted() 와 method .sort() 의 차이.
numbers = [5, 3, 7, 1, 8, 2, 3]

print(sorted(numbers))
print(numbers)
# sorted() 내장 함수는 원데이터를 바꾸진 않음.

[1, 2, 3, 3, 5, 7, 8]
[5, 3, 7, 1, 8, 2, 3]

In [123]:
# reverse
numbers = [5, 3, 7, 1, 8, 2, 3]

numbers.reverse()
print(numbers)
# 데이터를 역으로 바꿈.

[3, 2, 8, 1, 7, 3, 5]

In [373]:
# 인덱스 구간과 위치찾기
numbers = [5, 3, 7, 1, 8, 2, 3]

print(numbers[1:3]) # 1번 데이터 이상, 3번 데이터 미만
print(numbers[-2]) # 뒤에서 2번째
print(numbers[:]) # 아무것도 적지 않으면 맨 앞, 맨 뒤를 말함.
print(numbers[::]) # 앞부터 : 뒤까지 : 몇칸씩.
print(numbers[::-2]) # 뒤에서 2번 띄어서.

[3, 7]
2
[5, 3, 7, 1, 8, 2, 3]
[5, 3, 7, 1, 8, 2, 3]
[3, 8, 7, 5]

# list copy

In [140]:
# 원본 데이터와 카피 리스트 생성.
origin_list = [1, 2, 3]
copy_list = origin_list

print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [142]:
origin_list[0] = 100

print(origin_list)
print(copy_list)
# origin_list(원본데이터) 만 변경했는데 copy_list도 변경됨.
# origin_list는 데이터주소를 저장한거임.
# 즉, 주소를 복사했기 때문에 주소값이 같은 copy_list도 변경됨.
# 주소를 공유한다고 보면 됨.

[100, 2, 3]
[100, 2, 3]

In [151]:
origin_list = [1, 2, 3]
copy_list = origin_list[:] # 슬라이싱 해서 주소를 다르게 해주면 다른 주소값이 저장.

origin_list[0] = 100

print(origin_list)
print(copy_list)

[100, 2, 3]
[1, 2, 3]

In [148]:
# 2차원 리스트
origin_list = [1, 2, [3,4]]
copy_list = origin_list[:]

origin_list[0] = 100
origin_list[2][0] = 300

print(origin_list)
print(copy_list)
# 첫 100 추가한 리스트는 주소가 다르기 때문에 변경되지 않지만,
# 2차원 리스트 부분의 변경은 같이 변경됨.

[100, 2, [300, 4]]
[1, 2, [300, 4]]

In [150]:
# copy method 활용
import copy
origin_list = [1, 2, [3, 4]]
copy_list = copy.deepcopy(origin_list)

origin_list[0] = 100
origin_list[2][0] = 300

print(origin_list)
print(copy_list)

[100, 2, [300, 4]]
[1, 2, [3, 4]]

# list comprehension

In [152]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [165]:
# -> [1, 8, 27, ..., 1000]
numbers = list(range(1, 11))

result = []
for i in numbers:
    temp = i ** 3
    result.append(temp)

print(result)

# 연산의 결과를 다른 공간에 저장하는 방식.

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [169]:
# list comprehension
numbers = list(range(1, 11))
result = [i **3 for i in numbers]
# 위 식은 result = [number1 ** 3, number2 ** 3, number3 ** 3,.......] 이거를 자동으로 해준거임
print(result)

# 간단하긴 하지만 위 식이 더 가독성이 좋음.

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [170]:
# 짝수만 고르기
numbers = list(range(1, 11))
result = []

for i in numbers:
    if i % 2 == 0:
        result.append(i)

print(result)

[2, 4, 6, 8, 10]

In [173]:
# 짝수만 고르기 list comprehension
numbers = list(range(1, 11))

result = [i for i in numbers if i % 2 == 0]
print(result)

[2, 4, 6, 8, 10]

In [235]:
# 연습문제
# 모음 제거 -> my mn s hng

# for if 문 활용
words = 'my name is hong'

result = []
vowels = 'aeiou' # vowels = ['a', 'e', 'i', 'o', 'u'] 이거랑 같음

for i in words:
    if i in vowels: # 모음인 경우
        pass
    else: # 자음인 경우
        result.append(i)

print(result)
print(''.join(result)) # 문자열을 합침

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [236]:
# for if 문
# 간결한 방법
words = 'my name is hong'

result = []
vowels = 'aeiou' # vowels = ['a', 'e', 'i', 'o', 'u'] 이거랑 같음

for i in words:
    if i not in vowels: # 모음이 아닌 경우
        result.append(i)

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [237]:
# for if 문 list comprehension
words = 'my name is hong'
vowels = 'aeiou'
result = [i for i in words if i not in vowels]
print(''.join(result))

my nm s hng

In [238]:
# for if 문 list comprehension
# 간결하긴 한데 가독성 떨어지는 코드
words = 'my name is hong'
vowels = 'aeiou'

''.join([i for i in words if i not in vowels])

'my nm s hng'

In [234]:
# replace 메소드 활용
# replace('old', 'new', 'count')
# replace 는 메소드기 때문에 원본데이터가 유지가 됨.
words = 'my name is hong'
vowels = 'aeiou'

for i in vowels:
    words = words.replace(i, '')

print(words)

my nm s hng

# dictionary 메소드

In [257]:
info = {
    'name': 'hong',
    'locaion': 'seoul',
    'age': 20,
    'models': ['iphone', 'mac Book', 'watch'],
    'phone_book': {
        'kim': '010-1234-1234',
        'lee': '010-4567-4567',
    }
}

# dictionary 데이터 가져오기.
print(info['name'])
print(info['age'])
print(info['models'])
print(info['phone_book']['kim'])

hong
20
['iphone', 'mac Book', 'watch']
010-1234-1234

In [258]:
info['name'] = 'park'
print(info)

info.update(name='oh') # key 와 value 를 같이.
print(info)

{'name': 'park', 'locaion': 'seoul', 'age': 20, 'models': ['iphone', 'mac Book', 'watch'], 'phone_book': {'kim': '010-1234-1234', 'lee': '010-4567-4567'}}
{'name': 'oh', 'locaion': 'seoul', 'age': 20, 'models': ['iphone', 'mac Book', 'watch'], 'phone_book': {'kim': '010-1234-1234', 'lee': '010-4567-4567'}}

In [254]:
# pop 은 원하는 데이터를 꺼내어 결과값을 출력함.
info = {
    'name': 'hong',
    'locaion': 'seoul',
    'age': 20,
    'models': ['iphone', 'mac Book', 'watch'],
    'phone_book': {
        'kim': '010-1234-1234',
        'lee': '010-4567-4567',
    }
}
age = info.pop('age')
print(info, age)

{'name': 'hong', 'locaion': 'seoul', 'models': ['iphone', 'mac Book', 'watch'], 'phone_book': {'kim': '010-1234-1234', 'lee': '010-4567-4567'}} 20

In [255]:
print(info.get('name'))
print(info[;])

hong
hong

In [260]:
print(info['birth'])
# 키가 없으면 에러가 발생함

KeyError: 'birth'

In [277]:
print(info.get('birth'))
# 값이 있으면 갖고나옴.
# 없으면 None 결과값이 나옴.

None

In [270]:
# 연습문제
blood_type = ['A', 'B', 'B', 'O', 'AB', 'A']
# -> blood_dict = {'A': 2, 'B': 2, 'AB': 1, 'O': 1}

In [272]:
# 1번 풀이
result = {
    'A': 0,
    'B': 0,
    'AB': 0,
    'O': 0,
}

for i in blood_type:
    result[i] += 1

print(result)

# 1번풀이의 단점은 리스트에 C라는 새로운 변수가 추가되면 구하기 어려움.

{'A': 2, 'B': 2, 'AB': 1, 'O': 1}

In [282]:
# 2번문제 풀이
location = ['서울', '대전', '서울', '부산', '강릉', 'LA', '도쿄']

result = {}
for i in location:
    if result.get(i):
        result[i] += 1
    else:
        result[i] = 1

print(result)

{'서울': 2, '대전': 1, '부산': 1, '강릉': 1, 'LA': 1, '도쿄': 1}

In [285]:
# 다른사람 풀이 생각비교하기
location = ['서울', '대전', '서울', '부산', '강릉', 'LA', '도쿄']

result = {}
for i in location:
    result.update({i: location.count(i)})

print(result)

{'서울': 2, '대전': 1, '부산': 1, '강릉': 1, 'LA': 1, '도쿄': 1}

# dict comprehension

In [286]:
# {1: 1, 2: 8, 3: 27, ..., 10: 1000}

result = {}
numbers = list(range(1, 11))

for i in numbers:
    result[i] = i ** 3

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [289]:
# dict comprehension
# 가독성 안좋으니 알고만 있자.
result = {i: i ** 3 for i in numbers}
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [375]:
# result = {'대전': 100, '광주': 90}

# 1. for
dust = {
    '서울': 50,
    '대전': 100,
    '부산': 70,
    '광주': 90,
}

result = {}
for k, v in dust.items(): # items() 를 사용하면 key와 value를 동시에 사용가능
    if v > 70:
        result[k] = v

print(result)

{'대전': 100, '광주': 90}

In [378]:
# 2. comp
result = {k: v for k, v in dust.items() if v > 70}
print(result)

{'대전': 100, '광주': 90}

# 세트 메소드

In [346]:
fruits = {'apple', 'banana', 'melon'}
print(fruits)

{'melon', 'apple', 'banana'}

In [347]:
# 단일 데이터는 add
fruits.add('watermelon')
print(fruits)

{'melon', 'apple', 'banana', 'watermelon'}

In [348]:
# 여러 데이터는 update
fruits.update({'grape', 'prange'})
print(fruits)

{'melon', 'banana', 'grape', 'apple', 'prange', 'watermelon'}

In [349]:
# 제거하기
fruits.remove('apple')
print(fruits)

{'melon', 'banana', 'grape', 'prange', 'watermelon'}

In [350]:
fruits.pop()
print(fruits)

{'banana', 'grape', 'prange', 'watermelon'}

## map, filter, zip

# map
- map(function, iterable)
- 1개의 인자에만 적용 가능.
- list() 형식으로 출력 가능.

반복작업을 좀 더 편하게 만들어 주는 기능

In [353]:
numbers = [1, 2, 3, 4, 5]
# -> ['1', '2', '3', '4', '5'] 로 만든 방법

# 기존에 쓴 방법
result = []
for i in numbers:
    result.append(str(i))

print(result)

['1', '2', '3', '4', '5']

In [358]:
result = map(str, numbers)
print(list(result))
# map 형식은 list로 변형 후 결과 확인
# map은 1개의 인자에서 작동.

['1', '2', '3', '4', '5']

In [361]:
# 연습문제
numbers = [1, 2, 3, 4, 5]

result = []
for i in numbers:
    result.append(i ** 3)

print(result)

[1, 8, 27, 64, 125]

In [362]:
# 함수만들기
def cube(x):
    return x ** 3

result = map(cube, numbers)
print(list(result))

[1, 8, 27, 64, 125]

In [364]:
test_input = '1 3 5 7 9'
# 의 합 구하기위해 쪼개고 숫자형으로 만들어 출력하기
# 숫자를 텍스트 코드로 받았을떄 숫자형으로 만들기

print(list(map(int, test_input.split())))

[1, 3, 5, 7, 9]

## filter
- filter(function, iterable)

In [366]:
# x에 홀수가 들어오면 나머지가 1이기 때문에 True.
def is_odd(x):
    return x % 2

In [368]:
numbers = [1, 2, 3, 4, 5]

result = []
for i in numbers:
    if i % 2:
        result.append(i)

print(result)

[1, 3, 5]

In [369]:
result = filter(is_odd, numbers)
print(list(result))

# map: 함수의 기능만 돌아가면됨
# filter: 트루와 폴스가 무조건 들어가야함

[1, 3, 5]

## zip

In [371]:
# zip: 같은 위치의 데이터를 연결할때 사용
a = [1, 2, 3]
b = [100, 200, 300, 400, 500]

result = zip(a,b)
print(result)
print(list(result))

<zip object at 0x000002190A421700>
[(1, 100), (2, 200), (3, 300)]